<!DOCTYPE html>
<html>
  <link href="./index.css" type="text/css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <body>
    <div id="app">
      <div v-show="!detailPage" class="place1">
        <div class="header">
          <span class="part" v-for="(n, i) in partName" ref="header" :class="{'is-active': i === chosen_index}" :key="i" @click="changeColors(i)">{{ n }}</span>
          <div class="slider" :style="{width: `${slider_width - 10}px`, transform: `translateX(${transform_dist}px)`}"></div>
        </div>
        <div class="container">
          <div class="navurl" v-for="(u, i) in partUrl" :key="i" v-show="i === chosen_index">
            <a :href="u" style="color:#ffffff">{{ u }}</a>
          </div>
          <div class="content">
            <div class="inner">
              <div class="inner-content" v-for="(colors, i) in curPartData" :key="i" @click="getDetail(i)">
                <div class="inner-container" @mouseenter="innerenter(i)" @mouseleave="innerleave(i)">
                  <div class="colors smallcolors"
                    :class="{morecolor: colors.colors.length > 7, lesscolor: colors.colors.length < 8}">
                    <div class="color smallcolor" v-for="(color, i) in colors.colors" :key="i"
                      :style="{backgroundColor: color, flexGrow: (2 * i + 1) ** (1 / 2)}"></div>
                  </div>
                  <div class="name">
                    {{ colors.name}}
                    <span ref='emoji' class="emoji">{{ colors.emoji }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mask" :class="{'mask-move': loadmask}"></div>
      <div v-show="detailPage" class="place2">
        <div class="dheader">
          <span class="back" @click="goBack">&larr; Back</span>
          <div class="conver-color">
            <label v-for="mode in ['RGB', 'HEX', 'HSLA']">
              <input type="radio" :value="mode" />
              <span>{{mode}}</span>
            </label>
          </div>
        </div>
        <div class="colors bigcolors" :class="{morecolor: chosen_colors.length > 7, lesscolor: chosen_colors.length < 8}">
          <div class="color bigcolor" v-for="(color, i) in chosen_colors" :key="i" :style="{backgroundColor: color, flexGrow: (2 * i + 1) ** (1 / 2)}" @click="copy2clip">
            <span class="color-copy"> COPY </span>
            <span class="corner">{{ color }}</span>
          </div>
        </div>
        <div v-show="copiedShow" class="success-mask">
          <div class="cont" :style="{backgroundColor: copiedColor}">
            <div class="colorShow">
              <div class="message"><i>{{ copiedMessage }}</i></div>
              <span class="cc">{{ copiedColor }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
  <!-- <script src="../src/emoji.js"></script> -->
  <script src="../src/color.js"></script>
  <script src="../src/global.js"></script>
  <script type="text/javascript" src="../src/vuepart.js"></script>
  <!-- <script type="text/javascript" src="../src/myelemenet.js"></script>
  <script type="text/javascript" src="../src/render.js"></script> -->
</html>